<!DOCTYPE html>
<html>
<head>
<title>SMS Filter</title>
</head>
<body>
<h3>	  {%- for message in get_flashed_messages() %}
        {{ message }}
        {%- endfor %}
</h3>
<link rel="stylesheet" href="/static/signup.css" type="text/css">

<form method = "post">

<div class="Signup">

<div class="Signup-screen">

<div class="app-title">
<h1>DashBoard</h1>
</div>

<div class="Signup-form">

<center>
<div class="control-group">
<input type="text" class="Signup-field" value="" placeholder="keyword" name="keyword">
</div>
</div>
<div class="control-group">
<input type="reset">
</div>
</center>

<div class="control-group">
<input type="submit" value="Add to blacklist" formaction="/blacklist" class="btn btn-primary btn-large btn-block" >
</div>

<div class="control-group">
<input type="submit" value="Add to whitelist" formaction="/whitelist" class="btn btn-primary btn-large btn-block" >
</div>

<div class="control-group">
<input type="submit" value="Remove" formaction="/remove" class="btn btn-primary btn-large btn-block" >
</div>

<br>
</div>

</div>

</div>
</form>
</body>
</html>